/* this gets rid of white space sound the browser and content.*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: roboto, arial, sans-serif;
    font-size: 16px;
}

/* everything below is for the navbar*/
.navbar{
    background-color: #1f2937;
    color: white;
    height: 80px;
}

.logo {
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: #3882f6;
}

ul{
    list-style: none;
    font-size: 12px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/* this makes the links horizontal*/
.navbar ul{
    display: flex;
}

/* this put space between the links*/
.navbar ul li{
    margin-left: 15px;
}

/* everything above is for the navbar*/

/* everything below is for the hero section*/

h1{
    font-size: 48px;
}

.hero{
    display: flex;
    flex-direction: column;
    width: 50%;
}

button {
    height: 30px;
    width: 85px;
    background-color: #3882f6;
    border-radius: 5px;
    border-width: 0;
    color: white;
    margin: 10px 0;
}

section{
    display: flex;
    
}

.img{
    height: 200px;
    width: 400px;
    background-color: #7e7e7e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* everything above is for the hero section*/